<html>
    <head>

    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>This is reminder mail for your task</p>
        <p>You have {{days}} days remaining to complete your task titled {{title}}.</p>
    </body>
</html>