* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,  url('../images/task-list-template.jpg');
	background-repeat: repeat-y;
	background-size: cover;
	height: 100vh;
	
}
.wrapper {
	width: 1170px;
	margin: auto;
	border-bottom: 2px solid rgb(190, 189, 189);
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/task-list-template.jpg');
	height: 11vh;
	border-bottom: 2px solid whitesmoke;
	
	/* -webkit-background-size: cover; */
	background-size: auto;
	background-position: center center;
	
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}

ul.success li {
    padding: 15px;
    margin-bottom: 20px;
    border : 1px solid transparent ;
    border-radius: 4px;
    color : #3c763d ;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}

ul.success li {
    padding: 15px;
    margin-bottom: 20px;
    border : 1px solid transparent ;
    border-radius: 4px;
    color : #a94442 ;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}

.container {
    width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.successalert {
	padding: 10px;
	background-color: rgb(35, 199, 35);
	color: white;
  }
.erroralert {
	padding: 10px;
	background-color: rgb(245, 50, 24);
	color: white;
  }
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtn:hover {
	color: black;
  }

/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	/* img {
		width: ;
	} */
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
